body{
    font-family: Arial, Verdana;
    background:#000000;
    color:#ffffff;
    margin: 20px, 20px, 0px, 20px;
}

h1{
    text-align: center 42px;
    padding: 15px;
}

h2{
    color: 30px #0D0D0D;
}

p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img{
    width: 250px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*#7 did i make it centered above*/
    border: 10px dashed white;
}

div{

    height: 150px;
    padding: 20px 20px 20px 20px;
    border: 3px solid white;
}

.intro{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
    /* did line height make it double spaced*/

}

.red{
    background-color:#ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px;
    border-left: 5px;
}

.blue{
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
/*I dont think this work*/
}

.yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px;
    border-left: 5px;
}

.green{
    background-color: #00D800;
    text-align: left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
}

footer{
    /*help with the color thing*/
    border: 5px solid white;
    text-align: right 20px;
    padding: 15px 15px 15px 0px;

}

